

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&family=Yeseva+One&display=swap');

.arrows{
    display: flex;
    color: white;
    width: 210px;
    height: 20px;
    font-size: 50px;
    line-height: 50px;
    cursor: pointer;
    justify-content: center;
    margin-top: 85px;
}
.arrowleft {
    display: none;
}
.arrowright {
    display: none;
}
.arrowleftt {
    display: none;
}
.arrowrightt {
    display: none;
}
.button {
    border:0.5px solid white;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}
.button:hover{
    border-color:transparent;
}

::-webkit-scrollbar {
    width: 0;
  }
  input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: #E3B873;
    height: 18px;
    width: 18px;
    border: 1px solid #E3B873;
    position: relative;
    top: 7px;
    right: 8px;
  }

  input[type="checkbox"]:hover {
    filter: brightness(90%);
  }
  
  input[type="checkbox"]:disabled {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
  }
  
  input[type="checkbox"]:after {
    content: '';
    position: relative;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
  }
  
  input[type="checkbox"]:checked:after {
    display: block;
  }
  
  input[type="checkbox"]:disabled:after {
    border-color: #E3B873;
  }

.input {
    padding:5px;
    border-bottom: 0.5px solid #ccc;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.title {
    font-family:'Yeseva One', cursive;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
 }
.subtitle{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
}
.input {
    font-family: 'Nunito Sans', sans-serif;
    color:#363636;
    font-size: 14px;
    line-height: 23px;
}

span {
    color: #E3B873;
    text-decoration: underline;
}
.button__header {
    background: #E3B873;
    width: 161px;
    height: 37px;
    border-radius: 2px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: white;
    font-style: italic;
    text-transform: uppercase;
}
.subtitle-photos:hover{
    color: #E3B873;
}
.subtitle-header{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
}
.block_title {
    font-size: 20px;
    line-height: 28px;
    color: white;
}
.button__calculate {
    background-color:#E3B873;
    width: 207px;
    height: 51px;
    border-radius: 2px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color:white;
    font-style: italic;
    text-transform: uppercase;
}
.button__application {
    background-color: rgba(0, 0, 0, 0.3);
    width: 207px;
    height: 51px;
    border-radius: 2px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: white;
    font-style: italic;
    text-transform: uppercase;
    margin-left: 20px;    
}
body {
    margin:0 auto;
    width: 1440px;
}
body * {
    box-sizing: border-box;
}
.section {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(images/image\ 4.3.jpg);
    background-size: cover;
    height: 1072px;
    padding-top: 194px;
    width: 1440px;
}
.logo {
    color:#E3B873;
    font-family:'Nunito Sans', sans-serif;
    font-size: 11px;
    line-height: 15px;
}
.container-header {
    margin: 0 auto;
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}
.header {
    background-color: black;
}
.projects-main {
    width: 1263px;
    height: 352px;
    margin-top: 160px;
    margin-left: 89px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
.title-main {
    font-size: 40px;
    line-height: 53px;
    width: 676px;
    height: 105px;
    color: white;
    margin-top: 38px;
    margin-left: 46px;
    margin-bottom: 0%;
}
.footer {
    background-color: black;
}
.header-navigation {
    list-style: none;
    display:flex;
    color: white;
}
.header_navigation__item {
    margin-right: 47px;
    font-family:'Nunito Sans', sans-serif;
    font-size: 11px;
    line-height: 15px;
    color: white; 
}
.header_navigation__itemtel {
    margin-right: 47px;
    font-family:'Nunito Sans', sans-serif;
    font-size: 11px;
    line-height: 15px;
    color: white; 
}
.header_navigation__item a{
    text-decoration: none;
    color: white;    
}
.mobile_img {
    display: none;
}
.section {
    height: 1072px;
}
.p__main {
    width: 504px;
    height: 89px;
    font-size: 22px;
    height: 36px;
    margin-left: 46px;
    margin-top: 21px;
    color: white;
}
.subtitle-p__main{
    font-size: 22px;
    line-height: 36px;
}
.div-main-button {
    display: flex;
    width: 560px;
    height: 66px;
    margin-top: 21px;
    align-items: flex-start;
}
.button-main{
    font-family:'Nunito Sans', sans-serif;
    font-size:11px;
    line-height: 15px;
    width: 207px;
    height: 51px;
    background-color: #E3B873;
    margin-right: 60px;
}
.section-projects {
    background-color: black;
    height: 1072px;
    margin-top: 0px;
    background-size: cover;
 }

 .div-photos {
    width: 250px;
    height: 512px;
    margin-left: 100px;
    padding-right: 47px;
    margin-top: 137px;
    }
 .photos_one {
     width: 354px;
     height: 946px;
    display: flex;
    flex-direction: column;
    margin-top: -40px;
    justify-content: space-between;
    margin-left: 250px;
 }
 .photos_two {
    width: 354px;
    height: 936px;
    display: flex;
    flex-direction: column;
    margin-top: -112px;
    justify-content: space-between;
    margin-left: 43px;
}
.container__projects {
    width: 1263px;
    height: 576px;
    padding-top: 100px;
    padding-left: 88px;
}
.online-img {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(images/image\ 6.png);
    background-size: cover;
    height: 434px;
    width: 817px;
}

.play {
  
    width: 120px;
    height: 120px;
}
 .buttonplay{
    width: 85px;
    height: 85px;
    position: relative;
    top: -250px;
    left: 364px;  
}

.projects__ul {
    width: 736px;
    height: 43px;
    margin-top: 2px;
    margin-left: 480px;
    display: flex;
    justify-content: space-around;
 }

.title__projects {
    color:rgba(255, 255, 255, 0.3);
    height: 16px;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    padding-right: 23px;
}
.projects {
    width: 1205px;
    height: 524px;
    background-color: black;
    margin-right: 15px;
    display: flex;   
}
.projects__image {
    width: 679px;
    height: 482px;
    padding-left: 15px;
}
.projects__complete {
    width: 487px;
    height: 512px; 
    display: flex;
    flex-direction: column; 
    margin-left: 3px;
}
.subtitle__projects{
    font-size: 14px;
    line-height: 26px;
    width: 442px;
    height: 86px;
    color: white;
}
.title__complete{
    color: #E3B873;
    font-size: 27px;
    line-height: 37px;
    width: 253px;
    height: 66px;
}
.div__greed {
    width: 200px;
    height: 80px;
}
.projects__data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 476px;
    height: 201px;
}
.title__data {
    font-size: 18px;
    line-height: 25px;
    color: #E3B873;
    margin-bottom: 0px;
}
.subtitle__data {
    font-size: 13px;
    line-height: 21px;
    color: white;
}
.projects__appartment{
    display:flex;
    flex-direction: column;
    width: 257px;
    height: 99px;   
}
.form {
    padding-top: 89px;
    width: 823px;
    height: 173px;
    margin-left: 316px;
    margin-top: 286px;
    background-image: url(image\Rectangle 7.6.png);
}
.subtitle__checkbox {
    font-size: 14px;
    line-height: 23px;
    padding-top: 48px;
}
.checkbox__online {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
}
.text{
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin-top: 30px;
    margin-left: 78px;
}

.section-online {
    height: 1072px;
    margin-top: -347px;
}
.div-online {
    width: 1263px;
    height: 1040px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0 auto;
 }
.video{
    align-content: center;
    text-align: center;
    display: flex;
}
.img-online {
    padding-top: 21px;
}    
.jpeg {
    top: 123px;
    left: 312px;   
}
.subtitle__online {
    width: 697px;
    height: 173px;
    margin-top: 85px;
    color:black;
    font-size: 18px;
    line-height: 36px;
}
.form-online {
    width: 823px;
    height: 173px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}
.online__input {
    display: flex;
    justify-content: space-between;
    width: 770px;
}
.button__online {
    font-size: 13px;
    line-height: 26px;
    width: 200px;
    height: 51px;
    background-color: #E3B873;
    color: white;
    text-transform: uppercase;
}
.form__input{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px;
    text-align: left;
}
 .input__online {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
    width: 231px;
    align-content: left;
    padding-right: 20px;     
}
.section-repair {
    height: 1680px;
    margin: 0 auto;
}
.conteiner__repair {
    width: 1263px;
    height: 1653px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 89px;
    margin-top: 10px;
}
.repair {
    padding-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 26px;
}
.title__repair {
    font-size: 20px;
    line-height: 28px;
    color: #363636;
    margin: 0 auto;   
 }
 .names {
     display: flex;

 }
 .client_name {
     font-family:'Yeseva One', cursive; ;
     font-size: 18px;
     line-height: 23px;
     color: #181818;
     width: 200px;
     height: 42px;
     text-align: left;
     padding-left: 30px;
 }
.content {
    width: 410px;
    height: 638px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-repair__first {
    width: 1263px;
    height: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.div-repair__second {
    width: 1263px;
    height: 612px;
    display: flex;
    margin-top: 133px;
    flex-direction: row;
    justify-content: end;
    background-image: url(images/image\ 6.1.png);   
}
.img__repair {
    width: 392px;
    height: 421px;   
}
.content__repair {
    z-index: 1;
    background-color: white;
    width: 335px;
    height: 295px;
    margin-top: -127px;   
}
.ul-repair-1 {
    width: 280px;
    height: 201px;
    color: black;
    background-color: white;   
    margin-top: -130px;
}
.div_price__repair {
    text-transform: uppercase;
    width: 228px;
    height: 54px;
    font-size: 18px;
    line-height: 25px;
    font-family:'Yeseva One', cursive;
    color: white;
    background-color: #E3B873;
    padding-top: 17px;
    text-align: center;
}
.li {
    font-family:'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}
.div_elements{
    width: 527px;
    height: 539px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 114px;
}
.div_element{
    width: 500px;
    height: 103px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.subtitle__element{
    font-size: 14px;
    line-height: 19px;
    color: black;
}
.subtitle__form {
    font-size: 18px;
    line-height: 26px;
    width: 297px;
    height: 47px;
    text-align: center;
    margin-top: 51px;
    color: white;
    margin-left: 119px;
}
.form_repair{
    width: 527px;
    height: 539px;
    margin-left: 83px;
    display: flex;
    flex-direction: column;
    background-color:#131313
}
.form__input_repair{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    line-height: 21px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px;
    text-align: left;
    width: 408px;
    color:rgba(255, 255, 255, 0.5);
    padding-left: 64px;
}
.input_repair {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    width: 408px;
    margin-bottom: -20px;
}
.subtitle__checkbox-form{
    font-size: 14px;
    line-height: 23px;
    color: white;
    margin-top: 0px;
    margin-left: 64px;
    
}
.button__form_repair {
    width: 213px;
    height: 51px;
    background-color: #E3B873;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    line-height: 21px;
    text-transform: uppercase;
    color: white;
    margin:0 auto;
    margin-top: 50px;
    margin-left: 259px;
}
.pig {
    margin-left: 730px;
    width: 72px;
    height: 72px;
}
.save {
    font-size: 18px;
    font-family:'Nunito Sans', sans-serif;
    color: #E3B873;
    width: 344px;
}
.h2-form{
    width: 297px;
    height: 47px;
    size: 18px;
    line-height: 26px;
    margin-top: 51px;
    margin-left: 119px;
    color: white;
}
.div-pig {
    display: flex;
    margin-bottom: 344px;    
}
.section-photos {   
    height: 864px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.72) ), url(images/image\ 5.1.jpg);
    display: flex;  
}
.title-photos {
    size: 27px;
    line-height: 37px;
    width: 411px;
    color:#E3B873; 
}
.subtitle-photos {
    size: 20px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}
.subtitle-photos_1 {
    size: 20px;
    line-height: 38px;
    color: #E3B873;
    text-decoration: underline #E3B873 ;
}
.section-clients { 
    height: 1109px;
}
.container-clients {
    width: 1263px;
    height: 840px;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;  
    padding-left: 230px;
}
.title-clients {
    size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: black;   
}
.div-client {
    width: 376px;
    height: 428px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    
}
.subtitle-clients{
    size: 13px;
    line-height: 24px;
    width: 324px;
    height: 216px;
    text-align: left;
    color: #959595;
}
.image_edit{
    border-radius: 50%;
}
.div-clients {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;   
    width: 1163px;
}
.img-clients {
    padding-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 26px;
    }
.form___input__name{
    width: 231px;
    margin-top: 106px;
    margin-right: 357px;   
}
.form___input__phone{
    width: 231px;
    margin-top: 106px;
    margin-left: 181px;
    padding-bottom: 0px;   
}
.form___input__question{
    width: 516px;
    margin-top: 244px;
    margin-left: 181px; 
}
.div_price__clients {
    width: 294px;
    height: 54px;
    background-color: #E3B873;
    margin-top: 63px;
    margin-left: 0px;
    border:none;
}
.subtitle_clients {
    color: #363636;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}
.form__questions {
    width: 883px;
    height: 444px;
    background-color: black;
    margin-top: -223px;
    align-content: center;    
}
.form-title {
    color: white;
    font-size: 20px;
    line-height: 27px;
    margin-top: 34px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.contacts-title {
    font-size: 20px;
    line-height: 27px;
    width: 589px;
    height: 51px;
    text-align: center;
    align-content: center;
    margin-top: 52px;  
    color: #E3B873;
}
.name_phone {
    display: flex;
    margin-left: 183px;
    justify-content: space-between;
    width: 520px;
}
.form__input_clients_name {
    width: 231px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px;
    }
.form__input_clients_phone {
    width: 231px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px;
}
.inputs {
    background-color: black;
    color: white;
    border-bottom: 0.2px white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 516px;
    margin: 0px;
    margin-bottom: 25px;
}
.inputss {
    background-color: black;
    color: white;
    border-bottom: 0.2px white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 230px;
    margin: 0px;
}
.form__input_clients_question {
    width: 516px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px;
    padding-top: 150px;
    margin: auto;
} 
.jpg {
    width: 280px;
    height: 50px;
}
.button__questions {
    width: 200px;
    height: 51px;
    background-color: #E3B873;
    color: white;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    line-height: 27px;
    align-content: center;
    margin-left: 370px;
    margin-top: 30px;
}
.form__input{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    color:rgba(255, 255, 255, 0.5);
    border-bottom: 0px;
    text-align: left;
}
.section-contacts {
    height: 951px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.72) ), url(images/image\ 7.2.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
}      
.form__input-question{   
    display: flex;
    flex-direction: column;
    margin-top: 58px;
    margin-left: 180px;    
}
.Questions{      
    display: flex;
    justify-content: space-between;
    margin-right: 180px;
    margin-left: 180px;
    margin-top:70px;
}
.subtitle__checkbox-questions{
    font-size: 14px;
    line-height: 23px;
    color: white;
    margin-left: 320px;    
}
.button_check {
    display: flex;
    flex-direction: column;
    margin-top: 0px;    
}

.container-footer {
    margin: 0 auto;
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    height: 133px;
    align-items: center;
}
a:hover {
    text-decoration: underline;
    color: #E3B873  
   }


@media only screen and (max-width: 375px) {
.header {
    margin: 0px;
    width: 375px;
}
span {
    color: white;
}
 .input__online {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
    width: 231px;
    align-content: left;
    padding-right: 20px;     
}
.button__header {
    display: none;
}
.header_navigation__item {
    display: none;
}
.container-header {
    margin: 0px;
}
.logo{
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    margin-left: 18px;
    text-decoration: none;
    margin-bottom: 0px;
}
.header_navigation__itemtel{
    font-size: 11px;
    line-height: 15px;
    color: white;
    margin: 18px;
}
.projects-main{
    margin: 0px;
    width: 375px;
}
.title-main {
    font-size: 23px;
    line-height: 31px;
    margin: 18px;
    width: 340px;
    height: 60px;
}
.p__main{
    margin: 0px;
    width: 375px;
}
.subtitle-p__main {
    font-size: 14px;
    line-height: 19px;
    width: 338px;
    height: 94px;
    margin-left: 18px;
}
.line {
    margin:30px;
}
.div-main-button{
    margin: 18px;
    display: block;
    align-content: center;
    width: 340px;
}
 .button__calculate {
    width: 300px;
    height: 51px;
    margin-top:0px;
    margin-left: 18px;
    cursor: pointer;
}
.button__application {
    width: 300px;
    height: 51px;
    margin: 18px;
    cursor: pointer;
}
.section {
    width: 375px;
    height: 476px;
    padding-top: 85px;
}
.title__complete {
    font-size: 22px;
    line-height: 31px;
    margin-top:31px;
    text-align: center;
}
.projects__complete{
    align-items: center;
    margin: 0px;
    width: 375px;
    height: 700px;
}
.container__projects{
    padding: 0px; 
    width: 375px;      
    height: 700px;   
}
.subtitle__projects{
    margin-left: 0px;
    width: 311px;
}
.title__data{
    font-size: 14px;
    line-height: 21px;
    width: 170px;
    margin-left: 18px;
}
.projects__data {
    width: 375px;
    
}
.subtitle__data{
    width: 100px;
    margin: 18px;          
}
.projects__ul {
    display: none;
}
.arrow {
    display: none;
}
.div-online {
    width: 375px;
    background-color: black;
    height: 950px;
}
.block_title {
    font-size: 22px;
    line-height: 31px;
    width: 250px;
    text-align: center;
}
.div__greed{
    width: 150px;
}
.section-online{
    width: 375px;
}
.section-projects{
    width: 375px;
}
.projects__image{
    display: none;
}
.projects {
    width: 375px;
    height: 700px;
}
.input__online {
    margin: 18px;
    margin-bottom: -18px;
    margin-left: 0px;
}
.input__online-question {
    margin: 18px;
    margin-bottom: -18px;
    margin-left: 18px;
}
.img-online{
    margin: 18px;
    width: 340px;
    padding: 0px;
}
.online-img {
    width: 340px;
    height: 207px;
    margin-top: 40px;
}
.subtitle__online {
    color: white;
    width: 340px;
    font-size: 11px;
    line-height: 18px;
    margin-top: 0px;
}
.inputs {
    background-color: black;
    color: white;
    border-bottom: 0.2px white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 340px;
    margin: 18px;
}
.form-online {
    width: 375px;
    margin-top: -50px;
}
.online__input {
    width: 300px;
    display: block;
    margin: 18px;
}
.form__input_repair {
    background-color:black; 
    padding:5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    align-content: center;
}
.button__online{
    align-content: center;
    align-items: center;
    width: 340px;
    height: 51px;
    margin: 0px;
    position: relative;
    top:170px;
}
.subtitle__checkbox {
    color: white;
    font-size: 14px;
    line-height: 23px;
    margin-right: 30px;
    padding-top: 0px;
    margin-top: -70px;
}
.subtitle__checkbox-questions {
    color: white;
    font-size: 14px;
    line-height: 23px;
    margin-right: 30px;
    padding-top: 0px;
    margin-top: -70px;
    
}
.section-repair {
    width: 375px;
    margin: 0px;
    height: 2030px;
    display:flex;  
}
.conteiner__repair {
    margin-left:18px;
    width: 357px;    
}
.repair{
    width: 340px;
    margin-top: -900px;
    height: 100px;
}
.img__repair{
    width: 340px;
    margin-top: -900px;
}
.div-repair__first{
    width: 340px;
    display: block;
    margin:0px;   
}
.content{
    width: 340px;
}
.content__repair {
    margin-left: -70px;
    width: 270px;    
}
.div-pig{
    display: none;
}
.section-photos {
    margin-top: 1000px;
    width: 375px;
    height: 400px;
    background-image: none;
    background-color: black;
}
.photo_project {
   width: 340px;
   height: 242px;
   margin: 18px;
}
.div-photos {
    margin: 0px;
    height: 300px;
}
.div-repair__second {
    display: none;
}
.photos_one{
    width: 340px;
}
.form-title{
    margin-top: 200px;
}
.title-photos{
    font-size: 22px;
    line-height: 31px;
    width: 340px;  
    text-align: center;    
    margin: 18px;
    margin-top: -900px;
}
.subtitle-photos_1, .subtitle-photos{
    display: none;
}
.section-clients {
    display: none;
}
.realize_photo {
    margin: 18px;
}
.form__questions {
    width: 375px;
    z-index: -2;
    margin: -1100px;
    background-color: black;
    height: 705px;
    
}
.form__input-name-phone {
    background-color:black; 
    padding:5px;   
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-left: 18px;
    
}

.section-contacts {
    width: 375px;
    height: 0px;
    background-color: black;
}
.Questions {
    margin:0px;
    display: flex;
    flex-direction: column;
    background-color: black;
    
}
.form__input-question {
    background-color:black; 
    padding:5px;
    margin-top: 0px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-left: 0px;
    width: 375px;
   }
.subtitle__checkbox-questions{
    margin:18px;
    margin-top: 0px;
}

.button_check{
    margin:0px;
}
.button__questions{
    margin:18px;
    width: 340px;
    height: 51px;
}
.photos_one{
    display: none;
}
.photos_two {
    display: none;
}
.div-clients{
    display: none;
}
.contacts-title {
    margin-top: 1500px;
}
.map {
    width: 340px;
    height: 240px;
    margin: 18px;
    margin-top: -500px;
}
.contacts-title{
    font-size: 18px;
    line-height: 25px;
    font-family: 'Yeseva One', cursive;
    color: #E3B873;
    width: 340px;
    position: relative;
    top: -150px;
}
.footer {
    display: none;
}
.input {
    background-color:black; 
    padding:5px;   
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-left: 18px;
}

.inputss {
    background-color: black;
    color: white;
    border-bottom: 0.2px white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 340px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.input {
    width: 340px;
    margin: 18px;
    margin-left: 0px;
    
}
body {
    width: 375px;
}
.projects__appartment{
    width: 180px;
}
.photo__project{
    width: 340px;
    height: 241px;
    background-image: url(image_2.jpg);
}

.photo_project {
    display: none;
}
.realize__photo{
    width: 340px;
    height: 241px;
    background-image: url(image\ 5.3.png);
    margin: 18px;
    z-index: 3;
}
.realize_photo {
    display: none;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  html, body {
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
  }
  
  body {
    overflow-y: scroll;
    width: calc(100% + 20px);
    width: 375px;
  }
  a:hover {
    text-decoration: underline;
    color: #E3B873  
   }
   .subtitle-photos:hover{
    color: #E3B873;
}
.arrowleft {
    width: 36px;
    height: 36px;
    position: relative;
    top: -123px;
    left: 134px;
    display: flex;
}
.arrowright {
    width: 36px;
    height: 36px;
    position: relative;
    top: -155px;
    right: 134px;
    display: flex;
}
.arrowleftt {
    width: 36px;
    height: 36px;
    position: relative;
    top: -153px;
    left: 310px;
    display: flex;
}
.arrowrightt {
    width: 36px;
    height: 36px;
    position: relative;
    top: -189px;
    left: 30px;
    display: flex;
   
}
.arrows{
    display: none;
}
}  